ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

textarea {
  resize: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1199px) {
  .container {
    width: 1200px;
  }
}

.clients {
  padding: 94px 0;
}
.clients-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients-list-link {
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
  color: #AFB1B8;
}
.clients-list-link:hover {
  color: #2196F3;
  border-color: #2196F3;
}
.clients-list-item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 767px) {
  .clients-list-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1199px) {
  .clients-list-item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.clients-list-icon {
  fill: currentColor;
}

.features {
  padding: 94px 0;
}
@media screen and (min-width: 767px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.features-list-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}
@media screen and (min-width: 767px) {
  .features-list-title {
    text-align: left;
  }
}
.features-list-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
.features .features-list-item {
  width: 450px;
}
@media screen and (min-width: 767px) {
  .features .features-list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1199px) {
  .features .features-list-item {
    width: 270px;
  }
}
.features-list-item::before {
  background-image: url("../../images/Group 1.png");
  width: 450px;
  height: 120px;
  content: "";
  display: inline-block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}
.features-list-item:nth-child(2)::before {
  background-image: url("../../images/Group 2.png");
  width: 100%;
  height: 120px;
  content: "";
  display: inline-block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}
.features-list-item:nth-child(3)::before {
  background-image: url("../../images/Group 3.png");
  width: 100%;
  height: 120px;
  content: "";
  display: inline-block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}
.features-list-item:nth-child(4)::before {
  background-image: url("../../images/Group 4.png");
  width: 100%;
  height: 120px;
  content: "";
  display: inline-block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}
.features-list-item {
  width: 450px;
}
@media screen and (min-width: 767px) {
  .features-list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1199px) {
  .features-list-item {
    width: 270px;
  }
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer .logo {
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}
.footer-logo {
  color: #2196F3;
}
.footer .address-list-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 9px;
}
.footer .address {
  margin-top: 20px;
  text-align: center;
}
.footer .address-list-item {
  margin-bottom: 9px;
}
.footer .address-list-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 9px;
}
.footer .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}
.footer .social-list-link {
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.footer .social-list-link:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}
.footer .social-list-icon {
  fill: currentColor;
}
.footer .social-list-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 767px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 70px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
    row-gap: 60px;
  }
}
@media screen and (min-width: 767px) {
  .footer-form {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1199px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer-form-input {
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 5px;
  margin-bottom: 20px;
}
@media screen and (min-width: 767px) {
  .footer-form-input {
    width: 450px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1199px) {
  .footer-form-input {
    width: 358px;
  }
}
.footer-form-btn {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-left: 12px;
}
.footer .mail-title {
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.header {
  padding: 25px 0;
}
.header .logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196F3;
}
.header-logo {
  color: #000000;
}
.header .nav-list-link {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
}
.header .nav-list-link:hover {
  color: #2196F3;
}
@media screen and (min-width: 767px) {
  .header .contact-list-link {
    font-size: 12px;
    line-height: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
    color: #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1199px) {
  .header .contact-list-link {
    font-size: 14px;
    line-height: 16px;
  }
}
.header .contact-list-link:hover {
  color: #2196F3;
}
.header .contact-list-item:hover {
  color: #2196F3;
}
.header .contact-list {
  display: none;
}
@media screen and (min-width: 767px) {
  .header .contact-list {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1199px) {
  .header .contact-list {
    gap: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header .nav-list {
  display: none;
}
@media screen and (min-width: 767px) {
  .header .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 767px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 87px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1199px) {
  .header-container {
    gap: 93px;
  }
}

.hero {
  background-color: #2F303A;
  padding: 118px 0;
}
@media screen and (min-width: 1199px) {
  .hero {
    padding: 200px 0;
  }
}
.hero-title {
  font-family: Roboto;
  font-size: 26px;
  max-width: 360px;
  line-height: 42px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1199px) {
  .hero-title {
    font-size: 44px;
    max-width: 696px;
    line-height: 60px;
  }
}
.hero-btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
}
@media screen and (min-width: 1199px) {
  .hero-btn {
    width: 216px;
  }
}

.portfolio {
  padding: 94px 0;
}
.portfolio .filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 767px) {
  .portfolio .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .portfolio .filter-list {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
  }
}
.portfolio .filter-list-btn {
  padding: 6px 22px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1199px) {
  .portfolio .filter-list-btn {
    font-size: 16px;
    line-height: 26px;
  }
}
.portfolio .filter-list-btn:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}
.portfolio-list-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
.portfolio-list-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}
@media screen and (min-width: 767px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 767px) {
  .portfolio-list-item {
    width: 354px;
  }
}
@media screen and (min-width: 767px) {
  .portfolio-form {
    margin: 0 auto;
  }
}
.portfolio-form-input {
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 5px;
  margin-bottom: 20px;
}
@media screen and (min-width: 767px) {
  .portfolio-form-input {
    width: 450px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.portfolio-form-btn {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.portfolio .mail-title {
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.team {
  padding: 94px 0;
  background-color: #F5F4FA;
}
.team-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 767px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.team-list-item {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media screen and (min-width: 767px) {
  .team-list-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1199px) {
  .team-list-item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.team-list-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 30px;
}
.team .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}
.team .social-list-link {
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}
.team .social-list-link:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}
.team .social-list-icon {
  fill: currentColor;
}
.team .social-list-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.team-list-text-wrap {
  padding: 30px;
}
.team-list-text {
  margin: 10px;
}
.team-list-item {
  background-color: #FFFFFF;
}

.work {
  display: none;
}
@media screen and (min-width: 1199px) {
  .work {
    padding-bottom: 94px;
    display: block;
  }
}
.work-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.work-list-text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
}
.work-list-img-wrap {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 450px;
  padding: 40px;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-modal-label {
  display: block;
  margin-bottom: 10px;
}

.modal-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.form-modal-input {
  width: 370px;
  border-radius: 4px;
  border: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
}

.form-modal-textarea {
  width: 370px;
  height: 120px;
  top: 427px;
  left: 55px;
  border-radius: 4px;
  border: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.privacy-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 31px;
}

.privacy-box-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.03em;
  text-align: left;
}

.form-modal-span {
  display: block;
  margin-bottom: 4px;
}/*# sourceMappingURL=main.css.map */