@mixin btn($bg, $color, $width, $height, $border-radius ) {
     background-color: $bg;
     color: $color;
     width: $width;
     height: $height;
     border-radius: $border-radius;
    }
    @mixin mob($breakpoint) {
     @media screen and (min-width: $breakpoint) {
     @content;
     }
     }
    @mixin tab($breakpoint) {
     @media screen and (min-width: $breakpoint) {
     @content;
     }
     }
     
     @mixin desc($breakpoint) {
     @media screen and (min-width: $breakpoint) {
     @content;
     }
     }

     @mixin retina($device-ratio,$dpi,$dppx){
          @media (min-device-pixel-ratio:$device-ratio),
          (min-resolution:$dpi), 
          (min-resolution:$dppx)  {
               @content
          } 
     }

     @mixin background-image($webp,$fallback,$gradient){
          @supports (background-image:url("#{$webp}")){
            background-image:$gradient, url("#{$webp}");
          }
          background-image:$gradient, url("#{$fallback}");
      }