.footer {
    background-color: #2F303A;
    padding: 60px 0;
    .logo{
    color: #FFFFFF;
    margin-bottom: 20px; 
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: center;
    display: block;
    @include desc(1199px){
        text-align: left;
    }
    }
    &-logo{
        font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: center;

        color: #2196F3;
    }
    .address-list-link{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px; 
    }
    .address{
    margin-top: 20px; 
    text-align: center;
    @include desc(1199px) {
        text-align: left;
    }
    }
    .address-list-item{
    margin-bottom: 9px;
    }
    }
    .social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
    }
    .social-list-link{
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 1s;
    background-color: #FFFFFF1A;
    &:hover{
    color: #FFFFFF;
    background-color: #2196F3;
    }
    }
    .social-list-icon{
    fill: currentColor;
    }
    .social-list-text{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    }
    .footer-container {
        @include tab(767px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 165px;
            row-gap: 60px;
        }
        @include desc(1199px) {
            gap: 0;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
    .footer-form { 
        @include tab(767px) {
            margin: 0 auto;
        } 
        @include desc(1199px){
            display: flex;
            gap: 12px;
        }
    }
    .footer-form-input {
        padding: 15px;
        width: 100%;
        height: 50px;
        background-color: #2F303A;
        border: 1px solid #FFFFFF4D;
        border-radius: 5px;
        margin-bottom: 20px;
        @include tab(767px) {
            width: 450px;
            height: 50px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        @include desc(1199px){
            width: 358px;
        }
    }
    .footer-form-btn {
        width: 200px;
        height: 50px;
        background-color: #2196F3;
        color: #FFFFFF;
        border-radius: 5px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        display: block;
        margin: 0 auto;
        @include desc(1199px) {
            display: inline;
        }
    }
    .mail-title {
        width: 200px;
        height: 50px;
        color: white;
        border-radius: 5px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto; 
        @include desc(1199px){
            text-align: left;
            margin: 0;
        }
    }
.help {
    @include tab(767px) {
    display: flex;
    gap: 150px;
    }
}
    

